.transition {
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}

.touch {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 15px;
  background-color: #ffffff;
  transform: translateX(0);
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}

.header.open {
  transform: translateX(300px);
}

.header .nav-toggle {
  position: relative;
  top: 2px;
  width: 40px;
  height: 28px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}

.header .nav-toggle span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background: #323232;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}

.header .nav-toggle span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
       -o-transform-origin: left center;
          transform-origin: left center;
}

.header .nav-toggle span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
       -o-transform-origin: left center;
          transform-origin: left center;
}

.header .nav-toggle span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
       -o-transform-origin: left center;
          transform-origin: left center;
}

.header .nav-toggle.open span:nth-child(1) {
  top: -5px;
  left: 8px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-toggle.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.header .nav-toggle.open span:nth-child(3) {
  top: 23px;
  left: 8px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  z-index: 9999;
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  transform: translateX(-300px);
  box-shadow: inset 0 0px 20px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

#drawer.open {
  left: 0;
  transform: translateX(0);
}

#drawer ul li {
  display: block;
}

#page-wrap {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-left: 0;
  transform: translateX(0);
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

#page-wrap.open {
  transform: translateX(300px);
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}