* {
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 25px 10px;
  background-color: #ffffff;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2);
}

#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ .header {
  left: 300px;
}

#drawer-toggle:checked ~ #drawer {
  left: 0;
}

#drawer-toggle:checked ~ #page-wrap {
  left: 300px;
}

#drawer-toggle-label {
  position: fixed;
  left: 0;
  z-index: 1;
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

#drawer-toggle-label:before {
  position: absolute;
  top: 18px;
  left: 13px;
  display: block;
  width: 24px;
  height: 2px;
  background: #8d8d8d;
  content: '';
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}

#drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  z-index: 9999;
  display: block;
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.15);
  -webkit-overflow-scrolling: touch;
}

#drawer ul li {
  display: block;
}

#page-wrap {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-left: 0;
  -webkit-transition: 0.25s ease-in-out;
     -moz-transition: 0.25s ease-in-out;
       -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}